notify:
  - on: [finish]
    to:
      - type: webhook
        url: https://discord.com/api/webhooks/1121175739077759128/{{ discord.token }}
        method: POST
      - type: email
        address: hello@example.com

shell: /bin/bash
run: |
  echo "hello world"
