# yaml-language-server: $schema=https://raw.githubusercontent.com/zekroTJA/minicd/main/docs/schemas/.minicd.schema.json

name: "Test Repo"

jobs:
  test:
    on:
      tag: ".*"
    notify:
      - on: [finish]
        to:
          - type: webhook
            url: https://example.com
          - type: email
            address: "{{notifications.email}}"
    shell: /bin/bash
    run: |
      echo "hello world"
